@page "/addProduct"
@page "/addProduct/{id}"

@using Blazor.Models
@using Blazor.Contracts

@inject IProductService _ProductService
@inject IJSRuntime IJSRuntime

<h3>@title</h3>


<EditForm Model="@product" OnValidSubmit="AddEditProduct">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="Name" @bind-Value="product.Name" />
    <button type="submit" class="btn btn-success">Submit</button>
</EditForm>



@code {

    private string title;
    Product product  = new Product();

    [Parameter]
    public string id { get; set; }


    protected override void OnInitialized()
    {
        title = id is null ? "Create New Product" : "Update Product";

        var ID = Convert.ToInt32(id);
        if(id != null )
         product = _ProductService.GetProductById(ID);
    }



    

    private async Task AddEditProduct()
    {

        if (id is null)
        {
            _ProductService.AddProduct(product);
            await IJSRuntime.InvokeVoidAsync("displayToastr", "success", "Added Done");
        }


        else
        {
            _ProductService.UpdateProduct(product);
            await IJSRuntime.InvokeVoidAsync("displayToastr", "info", "Updated Done");
        }


    }

}
